In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [7]:
raw_data = pd.read_csv('spam_ham_dataset.csv')

In [8]:
raw_data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
data = raw_data.where((pd.notnull(raw_data)), '')

In [10]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
data.shape

(5572, 2)

In [13]:
data.loc[data['Category'] == 'spam','Category',] = 0
data.loc[data['Category'] == 'ham','Category',] = 1

In [14]:
data

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [15]:
X = data['Message']
Y = data['Category']

In [16]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [17]:
Y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.15, random_state=3)

### Feature Extraction

In [20]:
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [21]:
print(X_train_features)

  (0, 4191)	0.2931055186873344
  (0, 5209)	0.30007158167850434
  (0, 2977)	0.1602922471097932
  (0, 5410)	0.22683063364980188
  (0, 6455)	0.3350808206774561
  (0, 5456)	0.3350808206774561
  (0, 2309)	0.18599594073208287
  (0, 5707)	0.3085973537367412
  (0, 5666)	0.23708034773595787
  (0, 6822)	0.2070891377592127
  (0, 6391)	0.3350808206774561
  (0, 475)	0.2931055186873344
  (0, 1047)	0.3085973537367412
  (1, 5806)	0.8624222868226205
  (1, 1909)	0.506189489412455
  (2, 6487)	0.3536842138394445
  (2, 2046)	0.4128009616378555
  (2, 4714)	0.24216365524173472
  (2, 5588)	0.2798397886331978
  (2, 2419)	0.24647078398173364
  (2, 7038)	0.42261175440103205
  (2, 7554)	0.3299090243071812
  (2, 5055)	0.3672075394275787
  (2, 6606)	0.2907222318348972
  (3, 6037)	0.20062187888914748
  :	:
  (4733, 3260)	0.32105472013376274
  (4733, 4762)	0.266474279721508
  (4734, 2333)	0.3719869849776415
  (4734, 2562)	0.3559434893939604
  (4734, 7051)	0.29909213073571495
  (4734, 7370)	0.3071057084596986
  (4734, 4059)	0.3145830135246489
  (4734, 5851)	0.33401244299299293
  (4734, 4881)	0.3071057084596986
  (4734, 4606)	0.24839845416565237
  (4734, 7164)	0.19564469677886567
  (4734, 4005)	0.30539776993852524
  (4734, 6309)	0.23037525603848527
  (4735, 149)	0.2937809602594973
  (4735, 671)	0.30212800028312053
  (4735, 6537)	0.30212800028312053
  (4735, 5771)	0.46422051583110385
  (4735, 7413)	0.2419244111966159
  (4735, 6533)	0.2717938636645281
  (4735, 348)	0.22099109113319643
  (4735, 6245)	0.20840481109340017
  (4735, 5989)	0.16209251554798335
  (4735, 7409)	0.368070740317967
  (4735, 6474)	0.1752138215346996
  (4735, 2977)	0.3138638455175046

In [22]:
model = LogisticRegression()
model.fit(X_train_features, Y_train)

LogisticRegression()

In [23]:
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [24]:
print('Accuracy on training data: ', accuracy_on_training_data)

Accuracy on training data:  0.9700168918918919

In [25]:
prediction_on_testing_data = model.predict(X_test_features)
accuracy_on_testing_data = accuracy_score(Y_test, prediction_on_testing_data)

In [26]:
print('Accuracy on testing data: ', accuracy_on_testing_data)

Accuracy on testing data:  0.9665071770334929

In [28]:
input_mail = ["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"]

In [29]:
input_data_features = feature_extraction.transform(input_mail)

In [30]:
prediction = model.predict(input_data_features)

In [32]:
if(prediction[0] == 0):
    print("Spam Mail")
else :
    print("Not a spam mail")

Spam Mail